################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyWebAPI/MyWebAPI/bin/Debug/net5.0
/MyWebAPI/MyWebAPI/obj
/MyWebAPI/MyWebAPI/appsettings.json
/MyWebAPI/MyWebAPI/appsettings.Development.json
